<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        
        <div class="form-group">
          <label for="homeTeam">Home Team</label>
          <input
            type="text"
            class="form-control"
            id="homeTeam"
            required minlength="5"
            [(ngModel)]="match.homeTeam"
            name="homeTeam"
          />
        </div>
  
        <div class="form-group">
          <label for="awayTeam">Away Team</label>
          <input
            type="text"
            class="form-control"
            id="awayTeam"
            required minlength="5"
            [(ngModel)]="match.awayTeam"
            name="awayTeam"
          />
        </div>
  
        <button (click)="addMatch()" class="btn btn-success">Submit</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>Match has been started successfully!</h4>
        <button class="btn btn-success" (click)="newMatch()">Add</button>
      </div>
    </div>
  </div>

 
 <mat-tab-group animationDuration="0ms" mat-align-tabs="center">
  <!--<mat-tab-group animationDuration="0ms" (selectedChange)="selectedTabChange($event)"></mat-tab-group>-->
  <mat-tab label="Live Matches">
    
     <app-livescoreadmin></app-livescoreadmin>
   </mat-tab>
  <mat-tab label="Finished Matches">
 <!--   <mat-tab label="Finished Matches" (selectedChange)="selectedTabChange($event)">-->
 <app-summaryadmin></app-summaryadmin>
  </mat-tab>
</mat-tab-group>

