<div>
    <table  class="styled-table" >
      <thead>
          <tr>
              <th>Home Team</th>
              <th>Home Team Score</th>
              <th>Away Team</th>
              <th>Away Team Score</th>
              <th>Actions</th>
  
  
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let match of matches">
              <td>{{ match.homeTeam}}</td>
              <td><input
                type="text"
                class="form-control"
                id="homeTeamScore"
                width="20px"
                [(ngModel)]="match.homeTeamScore"
                name="homeTeamScore"
              /></td>
              <td>{{ match.awayTeam}}</td>
              <td><input
                type="text"
                class="form-control"
                id="homeTeamScore"
                [(ngModel)]="match.awayTeamScore"
                name="homeTeamScore"
              /></td>
              <td><button
                          type="submit"
                          class="btn btn-success"
                          (click)="updateScore(match.id,match.homeTeamScore,match.awayTeamScore)"
                          >
                    Update Score
                  </button>&nbsp;&nbsp;
                  <button
                          type="submit"
                          class="btn btn-success"
                          (click)="endMatch(match.id)"
                          >
                    End Match
                  </button>
              
                </td>
          </tr>
      </tbody>
  </table>
   </div>