
  <table class="table align-middle mb-0 bg-white" >
    <thead>
        <tr>
            <th>Home Team</th>
            <th>Home Team Score</th>
            <th></th>
            <th>Away Team</th>
            <th>Away Team Score</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let match of matches">
            <td>{{ match.homeTeam}}</td>
            <td>{{ match.homeTeamScore}}</td>
            <td>VS</td>
            <td>{{ match.awayTeam}}</td>
            <td>{{ match.awayTeamScore}}</td>
        </tr>
    </tbody>
</table>